@media only screen and (max-width:500px){

  #Gener{
      width:80% !important;
      margin:0 auto !important;
      margin-top: 20px !important;
      margin-bottom: 10px !important;
  }
  #status h5{
      width:100% !important;
  }
  #form{
      width:80%;
      margin-left: 10% !important;  
  }
  
  #sing{
      text-align:center;
    }
  #status{
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      margin-left:0px !important;
  }
  #status h5{
    font-size:17px;
    text-align: center !important;
    margin-left: 0px!important;
  }
    
  }
  
  #cotainer{
          display:flex;
          flex-direction:row;
          flex-wrap: wrap;
          flex-direction:row;
          justify-content : space-between;
          border: 2px solid red;
      
  }
  
  #form{
      width:"70%";
      margin:50px 30% 0px 30%;
      
  }
  #form button{
      width:100%;
      
  }
  #sing{
      opacity: 0;
  }
  #head:hover  #sing{
      opacity: 1;
  }
  #status{
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      margin-left:30px;
  }
  